<nav>
    <span style="font-size: 40px;">roamly</span> &nbsp; 
    <a href="/listings/new">Host your place</a> &nbsp; 

    <% if (currUser)  { %>
        <a href="/logout">logout</a> &nbsp;
    <% } %>

    <% if (!currUser)  { %>
        <a href="/signup">Signup</a> &nbsp; 
        <a href="/login">login</a> &nbsp;
    <% } %>
</nav>
